.not_found {
  background: linear-gradient(#70B087, #6B59DB);
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 750px;
  justify-content: center;
  width: 100%;
}

.main__h1 {
  font-size: 6.25em;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.main__h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
}